<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Seznam tříd</title>
</head>
<body>
<div class="container">
    <div class="table-responsive-sm">
        <h1>Seznam tříd</h1>
        <table class="table">
            <tr th:each="trida: ${trida}">
                <td>
                    <a th:text="${trida.nazev}"
                       th:href="@{/trida/{nazev}(nazev=${trida.nazev})}">1.A> </a>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>